<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ request.app.title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="/static/favicon/favicon.ico">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="stylesheet" href="/static/style.css">
    {% block head %}{% endblock %}
</head>
<body>
{# start flashed messages #}
{% for message in get_flashed_messages(request) %}
<div class="{{ message.ctg }}">
    <span id="close" onclick="this.parentNode.remove(); return false;">x</span>
    {{ message.msg }}
</div>
{% endfor %}
{# end flashed messages #}
{% block body %}{% endblock %}
</body>
</html>
