<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ request.app.title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="/static/favicon/favicon.ico">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="stylesheet" href="/static/style.css">
    {% block head %}{% endblock %}
    <style>
        {% block style %}{% endblock %}
    </style>
</head>
<body>
    <header class="header sticky sticky--top">
        <div class="header_grid">
            <nav class="navigation">
                <ul class="navigation__list navigation__list--inline">
                    <li class="navigation__item"><a class="navigation__link" href="{{ url_for('root') }}">Home</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="{{ url_for('roster') }}">Roster</a></li>
                    {% if not "token" in request.cookies %}
                    <li class="navigation__item"><a class="navigation__link" href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                    <li class="navigation__item"><a class="navigation__link" href="{{ url_for('current_user') }}">Profile</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {# start flashed messages #}
        {% for message in get_flashed_messages(request) %}
        <div class="{{ message.ctg }} message">
            <span class="closeable">X</span>
            {{ message.msg }}
        </div>
        {% endfor %}
        {# end flashed messages #}
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer class="footer">
        <p>
            Version: {{ __version__ }}<br>
            <a href="{{ __url__ }}">Source Code</a><br>
            Author/Contributors: {{ ", ".join(__contributors__) }}<br>
            {{ __copyright__ }}
        </p>
    </footer>
    <script>
        window.onload = function(){
          Array.from(document.getElementsByClassName('closeable')).forEach(function(v, i, a){
            v.onclick = function(){
              this.parentNode.remove();
              return false;
            };
          })
        };
    </script>
</body>
</html>
