<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ request.app.title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="/static/favicon/favicon.ico">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
</head>
<body>
{% block body %}
Well, you shouldn't see this message here...
{% endblock %}
</body>
</html>
