{% extends "base.html" %}
{% block style %}
table, th, td {
  border-collapse: collapse;
}
table, td {
  border: 1px solid black;
  height: 4em;
}
th {
  border-left: 1px solid black;
  border-bottom: 2px solid red;
  width: 18%;
}
.shift_time {
  border-left: 1px solid black;
  border-right: 2px solid red;
  width: 10%;
}

.availability_0 {  /* Availability.UNAVAILABLE */
  background-color: #990003;
}
.availability_1 {  /* Availability.AVAILABLE */
  background-color: #106b21;
}
.availability_2 {  /* Availability.ONLY_IF_REQUIRED */
  background-color: #fc5a1f;
}
{% endblock %}
{% block body %}
<h1>
    Timetable {{ year }}/{{ week }}
</h1>
<p>
    by <a href="{{ url_for('see_user', user_id=user.user_id) }}">{{ user.displayed_name }}</a>
</p>
<form action="{{ url_for('submit_timetable') }}" method="post">
<input type="hidden" name="page" value="{{ page }}"/>
<table style="width: 100%;">
    <tbody>
        <tr>
            <th class="shift_time">Stunde</th><th>Montag</th><th>Dienstag</th><th>Mittwoch</th><th>Donnerstag</th><th>Freitag</th>
        </tr>
        <tr>
            <td class="shift_time">1./2.</td>
            <td class="availability_{{ matrix.0.0 }}">
                <input type="radio" id="00-0" name="00" value="0" {{ 'checked' if matrix.0.0 == 0 else '' }}><label for="00-0">Unavailable</label><br>
                <input type="radio" id="00-1" name="00" value="1" {{ 'checked' if matrix.0.0 == 1 else '' }}><label for="00-1">Available</label><br>
                <input type="radio" id="00-2" name="00" value="2" {{ 'checked' if matrix.0.0 == 2 else '' }}><label for="00-2">Only if required</label>
            </td>
            <td class="availability_{{ matrix.1.0 }}">
                <input type="radio" id="10-0" name="10" value="0" {{ 'checked' if matrix.1.0 == 0 else '' }}><label for="10-0">Unavailable</label><br>
                <input type="radio" id="10-1" name="10" value="1" {{ 'checked' if matrix.1.0 == 1 else '' }}><label for="10-1">Available</label><br>
                <input type="radio" id="10-2" name="10" value="2" {{ 'checked' if matrix.1.0 == 2 else '' }}><label for="10-2">Only if required</label>
            </td>
            <td class="availability_{{ matrix.2.0 }}">
                <input type="radio" id="20-0" name="20" value="0" {{ 'checked' if matrix.2.0 == 0 else '' }}><label for="20-0">Unavailable</label><br>
                <input type="radio" id="20-1" name="20" value="1" {{ 'checked' if matrix.2.0 == 1 else '' }}><label for="20-1">Available</label><br>
                <input type="radio" id="20-2" name="20" value="2" {{ 'checked' if matrix.2.0 == 2 else '' }}><label for="20-2">Only if required</label>
            </td>
            <td class="availability_{{ matrix.3.0 }}">
                <input type="radio" id="30-0" name="30" value="0" {{ 'checked' if matrix.3.0 == 0 else '' }}><label for="30-0">Unavailable</label><br>
                <input type="radio" id="30-1" name="30" value="1" {{ 'checked' if matrix.3.0 == 1 else '' }}><label for="30-1">Available</label><br>
                <input type="radio" id="30-2" name="30" value="2" {{ 'checked' if matrix.3.0 == 2 else '' }}><label for="30-2">Only if required</label>
            </td>
            <td class="availability_{{ matrix.4.0 }}">
                <input type="radio" id="40-0" name="40" value="0" {{ 'checked' if matrix.4.0 == 0 else '' }}><label for="40-0">Unavailable</label><br>
                <input type="radio" id="40-1" name="40" value="1" {{ 'checked' if matrix.4.0 == 1 else '' }}><label for="40-1">Available</label><br>
                <input type="radio" id="40-2" name="40" value="2" {{ 'checked' if matrix.4.0 == 2 else '' }}><label for="40-2">Only if required</label>
            </td>
        </tr>
        <tr>
            <td class="shift_time">3./4.</td>
            <td class="availability_{{ matrix.0.1 }}">
                <input type="radio" id="01-0" name="01" value="0" {{ 'checked' if matrix.0.1 == 0 else '' }}><label for="01-0">Unavailable</label><br>
                <input type="radio" id="01-1" name="01" value="1" {{ 'checked' if matrix.0.1 == 1 else '' }}><label for="01-1">Available</label><br>
                <input type="radio" id="01-2" name="01" value="2" {{ 'checked' if matrix.0.1 == 2 else '' }}><label for="01-2">Only if required</label>
            </td>
            <td class="availability_{{ matrix.1.1 }}">
                <input type="radio" id="11-0" name="11" value="0" {{ 'checked' if matrix.1.1 == 0 else '' }}><label for="11-0">Unavailable</label><br>
                <input type="radio" id="11-1" name="11" value="1" {{ 'checked' if matrix.1.1 == 1 else '' }}><label for="11-1">Available</label><br>
                <input type="radio" id="11-2" name="11" value="2" {{ 'checked' if matrix.1.1 == 2 else '' }}><label for="11-2">Only if required</label>
            </td>
            <td class="availability_{{ matrix.2.1 }}">
                <input type="radio" id="21-0" name="21" value="0" {{ 'checked' if matrix.2.1 == 0 else '' }}><label for="21-0">Unavailable</label><br>
                <input type="radio" id="21-1" name="21" value="1" {{ 'checked' if matrix.2.1 == 1 else '' }}><label for="21-1">Available</label><br>
                <input type="radio" id="21-2" name="21" value="2" {{ 'checked' if matrix.2.1 == 2 else '' }}><label for="21-2">Only if required</label>
            </td>
            <td class="availability_{{ matrix.3.1 }}">
                <input type="radio" id="31-0" name="31" value="0" {{ 'checked' if matrix.3.1 == 0 else '' }}><label for="31-0">Unavailable</label><br>
                <input type="radio" id="31-1" name="31" value="1" {{ 'checked' if matrix.3.1 == 1 else '' }}><label for="31-1">Available</label><br>
                <input type="radio" id="31-2" name="31" value="2" {{ 'checked' if matrix.3.1 == 2 else '' }}><label for="31-2">Only if required</label>
            </td>
            <td class="availability_{{ matrix.4.1 }}">
                <input type="radio" id="41-0" name="41" value="0" {{ 'checked' if matrix.4.1 == 0 else '' }}><label for="41-0">Unavailable</label><br>
                <input type="radio" id="41-1" name="41" value="1" {{ 'checked' if matrix.4.1 == 1 else '' }}><label for="41-1">Available</label><br>
                <input type="radio" id="41-2" name="41" value="2" {{ 'checked' if matrix.4.1 == 2 else '' }}><label for="41-2">Only if required</label>
            </td>
        </tr>
        <tr>
            <td class="shift_time">5./6.</td>
            <td class="availability_{{ matrix.0.2 }}">
                <input type="radio" id="02-0" name="02" value="0" {{ 'checked' if matrix.0.2 == 0 else '' }}><label for="02-0">Unavailable</label><br>
                <input type="radio" id="02-1" name="02" value="1" {{ 'checked' if matrix.0.2 == 1 else '' }}><label for="02-1">Available</label><br>
                <input type="radio" id="02-2" name="02" value="2" {{ 'checked' if matrix.0.2 == 2 else '' }}><label for="02-2">Only if required</label>
            </td>
            <td class="availability_{{ matrix.1.2 }}">
                <input type="radio" id="12-0" name="12" value="0" {{ 'checked' if matrix.1.2 == 0 else '' }}><label for="12-0">Unavailable</label><br>
                <input type="radio" id="12-1" name="12" value="1" {{ 'checked' if matrix.1.2 == 1 else '' }}><label for="12-1">Available</label><br>
                <input type="radio" id="12-2" name="12" value="2" {{ 'checked' if matrix.1.2 == 2 else '' }}><label for="12-2">Only if required</label>
            </td>
            <td class="availability_{{ matrix.2.2 }}">
                <input type="radio" id="22-0" name="22" value="0" {{ 'checked' if matrix.2.2 == 0 else '' }}><label for="22-0">Unavailable</label><br>
                <input type="radio" id="22-1" name="22" value="1" {{ 'checked' if matrix.2.2 == 1 else '' }}><label for="22-1">Available</label><br>
                <input type="radio" id="22-2" name="22" value="2" {{ 'checked' if matrix.2.2 == 2 else '' }}><label for="22-2">Only if required</label>
            </td>
            <td class="availability_{{ matrix.3.2 }}">
                <input type="radio" id="32-0" name="32" value="0" {{ 'checked' if matrix.3.2 == 0 else '' }}><label for="32-0">Unavailable</label><br>
                <input type="radio" id="32-1" name="32" value="1" {{ 'checked' if matrix.3.2 == 1 else '' }}><label for="32-1">Available</label><br>
                <input type="radio" id="32-2" name="32" value="2" {{ 'checked' if matrix.3.2 == 2 else '' }}><label for="32-2">Only if required</label>
            </td>
            <td class="availability_{{ matrix.4.2 }}">
                <input type="radio" id="42-0" name="42" value="0" {{ 'checked' if matrix.4.2 == 0 else '' }}><label for="42-0">Unavailable</label><br>
                <input type="radio" id="42-1" name="42" value="1" {{ 'checked' if matrix.4.2 == 1 else '' }}><label for="42-1">Available</label><br>
                <input type="radio" id="42-2" name="42" value="2" {{ 'checked' if matrix.4.2 == 2 else '' }}><label for="42-2">Only if required</label>
            </td>
        </tr>
        <tr>
            <td class="shift_time">Pausendienst</td>
            <td class="availability_{{ matrix.0.3 }}">
                <input type="radio" id="03-0" name="03" value="0" {{ 'checked' if matrix.0.3 == 0 else '' }}><label for="03-0">Unavailable</label><br>
                <input type="radio" id="03-1" name="03" value="1" {{ 'checked' if matrix.0.3 == 1 else '' }}><label for="03-1">Available</label><br>
                <input type="radio" id="03-2" name="03" value="2" {{ 'checked' if matrix.0.3 == 2 else '' }}><label for="03-2">Only if required</label>
            </td>
            <td class="availability_{{ matrix.1.3 }}">
                <input type="radio" id="13-0" name="13" value="0" {{ 'checked' if matrix.1.3 == 0 else '' }}><label for="13-0">Unavailable</label><br>
                <input type="radio" id="13-1" name="13" value="1" {{ 'checked' if matrix.1.3 == 1 else '' }}><label for="13-1">Available</label><br>
                <input type="radio" id="13-2" name="13" value="2" {{ 'checked' if matrix.1.3 == 2 else '' }}><label for="13-2">Only if required</label>
            </td>
            <td class="availability_{{ matrix.2.3 }}">
                <input type="radio" id="23-0" name="23" value="0" {{ 'checked' if matrix.2.3 == 0 else '' }}><label for="23-0">Unavailable</label><br>
                <input type="radio" id="23-1" name="23" value="1" {{ 'checked' if matrix.2.3 == 1 else '' }}><label for="23-1">Available</label><br>
                <input type="radio" id="23-2" name="23" value="2" {{ 'checked' if matrix.2.3 == 2 else '' }}><label for="23-2">Only if required</label>
            </td>
            <td class="availability_{{ matrix.3.3 }}">
                <input type="radio" id="33-0" name="33" value="0" {{ 'checked' if matrix.3.3 == 0 else '' }}><label for="33-0">Unavailable</label><br>
                <input type="radio" id="33-1" name="33" value="1" {{ 'checked' if matrix.3.3 == 1 else '' }}><label for="33-1">Available</label><br>
                <input type="radio" id="33-2" name="33" value="2" {{ 'checked' if matrix.3.3 == 2 else '' }}><label for="33-2">Only if required</label>
            </td>
            <td class="availability_{{ matrix.4.3 }}">
                <input type="radio" id="43-0" name="43" value="0" {{ 'checked' if matrix.4.3 == 0 else '' }}><label for="43-0">Unavailable</label><br>
                <input type="radio" id="43-1" name="43" value="1" {{ 'checked' if matrix.4.3 == 1 else '' }}><label for="43-1">Available</label><br>
                <input type="radio" id="43-2" name="43" value="2" {{ 'checked' if matrix.4.3 == 2 else '' }}><label for="43-2">Only if required</label>
            </td>
        </tr>
    </tbody>
</table>
<input type="submit" value="Save changes">
</form>
<p>
    Legend:
    <span class="availability_0">Unavailable</span>
    <span class="availability_1">Available</span>
    <span class="availability_2">Only if required</span>
    <span style="float: right;">
        <a href="{{ before }}">Week before</a>
        <a href="{{ current }}">current Week</a>
        <a href="{{ after }}">Week after</a>
    </span>
</p>
{% endblock %}
