[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#
#                           /!\ /!\ /!\ IF REQUIREMENTS ARE ADDED /!\ /!\ /!\
# then they need to be added to ``.isort.cfg`` (into "known_thirdparty") and ``.flake8`` (into "known-modules")
#
aenum = "~=3.1.15"
annotated-types = "~=0.6.0"
cryptography = "~=42.0.5"
databases = { version = "~=0.8.0", extras = ["aiosqlite"] }
fastapi = "~=0.110.0"
fastapi-mail = "~=1.4.1"
itsdangerous = "~=2.1.2"
jinja2 = "~=3.1.3"
orjson = "~=3.9.15"
passlib = { version = "~=1.7.4", extras = ["bcrypt"] }
pydantic = { version = "~=2.6.4", extras = ["email"] }
pydantic-settings = "~=2.2.1"
pyjwt = "~=2.8.0"
python-multipart = "~=0.0.9"
pyyaml = "~=6.0.1"
reportlab = "~=4.1.0"
sqlalchemy = "*"  # databases==0.8.0 requires following version: sqlalchemy>=1.4.42,<1.5 --> can't use latest version :(
uvicorn = { version = "~=0.29.0", extras = ["standard"] }

[dev-packages]
black = "~=24.3.0"

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
