[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#
#                           /!\ /!\ /!\ IF REQUIREMENTS ARE ADDED /!\ /!\ /!\
# then they need to be added to ``.isort.cfg`` (into "known_thirdparty") and ``.flake8`` (into "known-modules")
#
aenum = "~=3.1.15"
annotated-types = "~=0.6.0"
cryptography = "~=41.0.7"
databases = { version = "~=0.8.0", extras = ["aiosqlite"] }
fastapi = "~=0.108.0"
orjson = "~=3.9.10"
passlib = "~=1.7.4"
pydantic = { version = "~=2.5.3", extras = ["email"] }
pydantic-settings = "~=2.1.0"
python-multipart = "~=0.0.6"
pyyaml = "~=6.0.1"
redis = "~=5.0.1"
reportlab = "~=4.0.8"
sqlalchemy = "*"  # databases==0.8.0 requires following version: sqlalchemy>=1.4.42,<1.5 --> can't use latest version :(
uvicorn = { version = "~=0.25.0", extras = ["standard"] }
jinja2 = "~=3.1.2"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
